<%- include('navbar') %>

    <!doctype html>
    <html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>
        <!-- component -->
        <!-- component -->
        <div class="bg-gray-100 p-4 flex justify-center items-center h-screen">
            <% data.forEach(artists => { %>
                <% artists.Songs.forEach(songs => { %>
                    <div class="bg-white p-8 rounded-lg shadow-md w-80 mx-4">
                        <!-- Album Cover -->
                        <a href="<%= songs.videoUrl %>"><img src="<%= artists.bandPhoto %>" alt="<%= artists.name %> - <%= songs.title %>" 
                            class="w-64 h-64 mx-auto rounded-lg mb-4 shadow-lg shadow-teal-50 hover:scale-105 duration-300"></a>
                        <!-- Song Title -->
                        <h2 class="text-xl font-semibold text-center"><%= songs.title %></h2>
                        <!-- Artist Name -->
                        <p class="text-gray-600 text-sm text-center flex justify-center"><a href="/artists/:ArtistId" class="hover:scale-125 duration-300"><%= artists.name %></a></p>
                        <!-- Music Controls -->
                        <div class="mt-6 flex justify-center items-center">
                            
                            
                            <button class="p-4 rounded-full bg-gray-200 hover:bg-gray-300 focus:outline-none mx-4">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                    <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
                                </svg>
                            </button>
                            
                        </div>
                        <div class="mt-6">
                            <p><%= songs.genre %></p>
                            
                        </div>
                        <!-- Progress Bar -->
                        <!-- <div class="mt-6 bg-gray-200 h-2 rounded-full">
                            <div class="bg-teal-500 h-2 rounded-full w-1/2"></div>
                        </div> -->
                        <!-- Time Information -->
                        <!-- <div class="flex justify-between mt-2 text-sm text-gray-600">
                            <span>1:57</span>
                            <span>3:53</span>
                        </div> -->
                    </div>
                <% }) %>
            <% }) %>
            
        </div>
    </body>

    </html>